.home{
  padding: 1rem;
}
.home-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home-header input{
  width: 80%;
  height: max(3vh, 3rem);
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  padding-left: 1rem;
  background-color: rgb(219, 216, 216);
}
.home-content{
  width: 100%;
  height: calc(100vh - 8.5rem);
  overflow-y: auto;
}
.home-blog{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.divider {
  border: none;
  border-top: 1px solid black;
  margin: 10px 0;
}
.refresh-btn{
    border: none;
    color: rgb(247, 239, 239);
    background-color: black;
    width: max(25vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    height: 3rem;
    font-size: 1.3rem;
    border: 1px solid rgb(215, 209, 209);
    place-self: center;
    transition: transform 0.2s ease;
  } 
  .refresh-btn:hover {
    color: black;
    background-color: white;
    transform: scale(1.08);
  }

