.btp-main {
  min-height: calc(100vh - 6.5rem);
  background-color: #ffffff;
}

.btp-header {
  margin-left: 22px;
  margin-top: 30px;
}

.btp-button {
  margin-top: auto;
  padding: 16px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  cursor: pointer;
  margin-bottom: 40px;
}



.btp-scroll {
  flex: 1;
  overflow-y: auto;
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btp-title {
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #111111;
  margin-bottom: 2px;
}

.btp-subtitle {
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #888888;
  margin-top: 0;
}

.btp-tags-section {
  margin-top: 25px;
}

.btp-section-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #111111;
  margin-bottom: 13px;
}

.btp-tags-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mt-20 {
  margin-top: 20px;
}
.frey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btp-footer {
  margin-top: auto;
  margin-bottom: 50px;
  padding: 0 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
  .btp-main {
    height: calc(100vh - 4.5rem);
  }
  .btp-header {
    margin-top: 16px;
  }
  .btp-title {
    font-size: 20px;
  }
  .btp-subtitle{
    font-size: 14px;
    text-align: center;
  }
  .btp-tags-section {
    margin-top: 0;
    overflow-y: auto;
  }
}

@media (max-height: 650px) {
  .btp-footer {
    margin-bottom: 10px;
  }
}
